@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}
:root{
    --color-navblue: #00ccfe;
    --color-orange: #f1a720;
    --color-red: #f8353e;
    --color-grey: #a8a9a8;
    --color-light-weight: #e7f1ff;
    --color-grey-text: hsl(0,0%,47%);
    --color-black: #000000;
    --color-black-light: #191919;
    --color-white: #ffffff;

    --color-lg-white : #f3f2e6;

    --bg-white: #f8f8f8;

    --bg-white-button : #f0f0f0;

    --border-color-1 : rgba(101, 119, 134, 0.36);
    --transition-3: all 300ms ease-in;
    --transition-4: all 400ms ease-in;

    --font-babes: "Bebas Neue", sans-serif;
}

/* width */
body::-webkit-scrollbar {
    width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
body::-webkit-scrollbar-thumb {
    background: var(--color-red); 
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #f3b394; 
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/* ---------- Universal Classes ---  */
.flex{
  display: flex;
  align-items: center;
  gap: 0.6rem;
  justify-content: space-between;
}

img{
  width: 100%;
}
a{
  text-decoration: none !important;
}

.grid-5{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1rem;
}
.grid-6{
  display: grid;
  grid-template-columns: repeat(6,1fr);
  gap: 1rem;
}
@media only screen and (max-width: 1100px){
  .grid-5{
    grid-template-columns: repeat(4,1fr);
  }
}
@media only screen and (max-width: 750px){
  .grid-5{
    grid-template-columns: repeat(3,1fr);
  }
}
@media only screen and (max-width: 540px){
  .grid-5{
    grid-template-columns: repeat(2,1fr);
  }
}



/* ----- Product ----  */

.single-pro {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  color: inherit;
}

.single-pro .img {
  position: relative;
}

.single-pro .img img {
  width: 100%;
}

.single-pro .off-per {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #ff0000;
  color: #fff;
  padding: 1px 0.5rem;
  border-radius: 0 0 5px 0;
}

.single-pro .hover-content  {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  color: var(--color-red);
  padding: 0.1rem;
  border-radius: 50%;
  font-size: 1.1rem;
  height: 25px;
  width: 25px;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: var(--transition-3);
}
.single-pro .hover-content:hover{
  background-color: rgba(255, 255, 255, 0.831);
  font-size: 1.2rem;
}

.pro-det{
  margin-top: 0.5rem;
  text-align: center;
}
.pro-det .pro-name {
  display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.3rem;
}

.pro-det .priceing {
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.pro-det .acctual {
  font-weight: 600;
  color: var(--color-red);
}
.pro-det del{
  text-decoration: line-through;
}

.pro-det .addToCart {
  /* text-align: center;
  cursor: pointer;
  background: url('./Assets/bg-btn.png') center/contain no-repeat fixed;*/
  background: url(./Assets/bg-btn.png) no-repeat center center;
  background-size: contain;
  width: 135px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  min-height: auto;
  font-size: 13px ;
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin:auto;
  cursor: pointer;
}

